node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.env.*.local
android/app/build/
android/app/debug/
android/app/release/
android/.gradle/
android/local.properties
.DS_Store
*.log
*.swp
*.swo
*~
.vscode/
.idea/
*.iml
.gradle/
build/
